<header id="qodef-page-header" role="banner">
    <div id="qodef-page-header-inner" class>
        <div class="qodef-divided-header-left-wrapper">
            <div>
            </div>
            <nav class="qodef-header-navigation" role="navigation" aria-label="Divided Left Menu">
                <ul id="menu-left-menu" class="menu">
                    <li id="menu-item-2990"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-2990 qodef--hide-link qodef-menu-item--narrow">
                        <a href="#" onclick="JavaScript: return false;"><span
                                class="qodef-menu-item-text">Home<svg
                                    class="qodef-svg--menu-arrow qodef-menu-item-arrow"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32"
                                    viewBox="0 0 32 32">
                                    <path
                                        d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
                                    </path>
                                </svg></span></a>
                        <div class="qodef-drop-down-second">
                            <div class="qodef-drop-down-second-inner">
                                <ul class="sub-menu">
                                    <li id="menu-item-6007"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-6007">
                                        <a href="../index.html"><span class="qodef-menu-item-text">Main
                                                Home</span></a></li>
                                    <li id="menu-item-6118"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6118">
                                        <a href="../hotel-grid/index.html"><span
                                                class="qodef-menu-item-text">Hotel Grid</span></a></li>
                                    <li id="menu-item-6119"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6119">
                                        <a href="../mediterranean-hotel/index.html"><span
                                                class="qodef-menu-item-text">Mediterranean Hotel</span></a></li>
                                    <li id="menu-item-6121"
                                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2988 current_page_item menu-item-6121">
                                        <a href="index.html"><span class="qodef-menu-item-text">Nature
                                                Resort</span></a></li>
                                    <li id="menu-item-6120"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6120">
                                        <a href="../city-hotel/index.html"><span
                                                class="qodef-menu-item-text">City Hotel</span></a></li>
                                    <li id="menu-item-6006"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6006">
                                        <a href="../hotel-horizontal/index.html"><span
                                                class="qodef-menu-item-text">Hotel Horizontal</span></a></li>
                                    <li id="menu-item-6122"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6122">
                                        <a href="../glamping-home/index.html"><span
                                                class="qodef-menu-item-text">Glamping Home</span></a></li>
                                    <li id="menu-item-6123"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6123">
                                        <a href="../oriental-hotel/index.html"><span
                                                class="qodef-menu-item-text">Oriental Hotel</span></a></li>
                                    <li id="menu-item-6124"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6124">
                                        <a href="../hostel-home/index.html"><span
                                                class="qodef-menu-item-text">Hostel Home</span></a></li>
                                    <li id="menu-item-6212"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6212">
                                        <a href="../weekend-retreat/index.html"><span
                                                class="qodef-menu-item-text">Weekend Retreat</span></a></li>
                                    <li id="menu-item-6213"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6213">
                                        <a href="../coming-soon/index.html"><span
                                                class="qodef-menu-item-text">Coming Soon</span></a></li>
                                    <li id="menu-item-9378"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9378">
                                        <a href="../animated-slider/index.html"><span
                                                class="qodef-menu-item-text">Animated Slider</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li id="menu-item-2991"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2991 qodef--hide-link qodef-menu-item--narrow">
                        <a href="#" onclick="JavaScript: return false;"><span
                                class="qodef-menu-item-text">Pages<svg
                                    class="qodef-svg--menu-arrow qodef-menu-item-arrow"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32"
                                    viewBox="0 0 32 32">
                                    <path
                                        d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
                                    </path>
                                </svg></span></a>
                        <div class="qodef-drop-down-second">
                            <div class="qodef-drop-down-second-inner">
                                <ul class="sub-menu">
                                    <li id="menu-item-7984"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7984">
                                        <a href="../about-us/index.html"><span
                                                class="qodef-menu-item-text">About Us</span></a></li>
                                    <li id="menu-item-7577"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7577">
                                        <a href="../local-activities/index.html"><span
                                                class="qodef-menu-item-text">Local Activities</span></a></li>
                                    <li id="menu-item-7759"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7759">
                                        <a href="../offers-promotions/index.html"><span
                                                class="qodef-menu-item-text">Offers &#038; Promotions</span></a>
                                    </li>
                                    <li id="menu-item-10543"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10543 qodef--hide-link">
                                        <a href="#" onclick="JavaScript: return false;"><span
                                                class="qodef-menu-item-text">Blog List<svg
                                                    class="qodef-svg--menu-arrow qodef-menu-item-arrow"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="32"
                                                    height="32" viewBox="0 0 32 32">
                                                    <path
                                                        d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
                                                    </path>
                                                </svg></span></a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-10544"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10544">
                                                <a href="../blog/right-sidebar/index.html"><span
                                                        class="qodef-menu-item-text">Right Sidebar</span></a>
                                            </li>
                                            <li id="menu-item-10546"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10546">
                                                <a href="../blog/left-sidebar/index.html"><span
                                                        class="qodef-menu-item-text">Left Sidebar</span></a>
                                            </li>
                                            <li id="menu-item-10545"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10545">
                                                <a href="../blog/no-sidebar/index.html"><span
                                                        class="qodef-menu-item-text">No Sidebar</span></a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-10547"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10547 qodef--hide-link">
                                        <a href="#" onclick="JavaScript: return false;"><span
                                                class="qodef-menu-item-text">Post Formats<svg
                                                    class="qodef-svg--menu-arrow qodef-menu-item-arrow"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="32"
                                                    height="32" viewBox="0 0 32 32">
                                                    <path
                                                        d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
                                                    </path>
                                                </svg></span></a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-10548"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-10548">
                                                <a href="../the-best-scenic-stays-around-the-world/index.html"><span
                                                        class="qodef-menu-item-text">Wide Post</span></a></li>
                                            <li id="menu-item-10549"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-10549">
                                                <a href="../from-cozy-corners-to-luxury-suites/index.html"><span
                                                        class="qodef-menu-item-text">Standard Post</span></a>
                                            </li>
                                            <li id="menu-item-10550"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-10550">
                                                <a href="../feel-like-home-on-your-business-trip/index.html"><span
                                                        class="qodef-menu-item-text">Gallery Post</span></a>
                                            </li>
                                            <li id="menu-item-10551"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-10551">
                                                <a href="../get-in-shape-while-traveling/index.html"><span
                                                        class="qodef-menu-item-text">Quote Post</span></a></li>
                                            <li id="menu-item-10552"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-10552">
                                                <a href="../enjoy-your-meal-in-a-quiet-malmo-street/index.html"><span
                                                        class="qodef-menu-item-text">Link Post</span></a></li>
                                            <li id="menu-item-10553"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-10553">
                                                <a
                                                    href="../sustainable-stays-for-responsible-travelers/index.html"><span
                                                        class="qodef-menu-item-text">Audio Post</span></a></li>
                                            <li id="menu-item-10554"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-10554">
                                                <a href="../decoding-the-hotel-selection-process/index.html"><span
                                                        class="qodef-menu-item-text">Video Post</span></a></li>
                                            <li id="menu-item-11042"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-11042">
                                                <a href="../your-guide-through-best-glamping-sites/index.html"><span
                                                        class="qodef-menu-item-text">Sidebar Post</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-7359"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7359">
                                        <a href="../restaurant-menu/index.html"><span
                                                class="qodef-menu-item-text">Restaurant Menu</span></a></li>
                                    <li id="menu-item-7468"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7468">
                                        <a href="../faq-page/index.html"><span class="qodef-menu-item-text">FAQ
                                                Page</span></a></li>
                                    <li id="menu-item-7664"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7664">
                                        <a href="../contact-us/index.html"><span
                                                class="qodef-menu-item-text">Contact Us</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <a itemprop="url" class="qodef-header-logo-link qodef-height--set qodef-source--image"
            href="../index.html" rel="home">
            <img width="300" height="188" src="../../../assets/wp-content/uploads/2023/12/divided-logo.png"
                class="qodef-header-logo-image qodef--main" alt="logo main" itemprop="image" /><img width="300"
                height="64" src="../../../assets/wp-content/uploads/2023/11/logo-dark.png"
                class="qodef-header-logo-image qodef--dark" alt="logo dark" itemprop="image" /><img width="300"
                height="64" src="../../../assets/wp-content/uploads/2023/11/logo-light.png"
                class="qodef-header-logo-image qodef--light" alt="logo light" itemprop="image" /></a>
        <div class="qodef-divided-header-right-wrapper">
            <nav class="qodef-header-navigation" role="navigation" aria-label="Divided Right Menu">
                <ul id="menu-right-menu" class="menu">
                    <li id="menu-item-10556"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10556 qodef--hide-link qodef-menu-item--narrow">
                        <a href="#" onclick="JavaScript: return false;"><span
                                class="qodef-menu-item-text">Rooms<svg
                                    class="qodef-svg--menu-arrow qodef-menu-item-arrow"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32"
                                    viewBox="0 0 32 32">
                                    <path
                                        d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
                                    </path>
                                </svg></span></a>
                        <div class="qodef-drop-down-second">
                            <div class="qodef-drop-down-second-inner">
                                <ul class="sub-menu">
                                    <li id="menu-item-10557"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10557 qodef--hide-link">
                                        <a href="#" onclick="JavaScript: return false;"><span
                                                class="qodef-menu-item-text">List Types<svg
                                                    class="qodef-svg--menu-arrow qodef-menu-item-arrow"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="32"
                                                    height="32" viewBox="0 0 32 32">
                                                    <path
                                                        d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
                                                    </path>
                                                </svg></span></a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-10569"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10569">
                                                <a
                                                    href="../room/index408b.html?layout=standard&amp;excerpt_length=125"><span
                                                        class="qodef-menu-item-text">Standard List</span></a>
                                            </li>
                                            <li id="menu-item-10570"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10570">
                                                <a href="../room/index6983.html?layout=standard-centered"><span
                                                        class="qodef-menu-item-text">Standard Centered
                                                        List</span></a></li>
                                            <li id="menu-item-10571"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10571">
                                                <a href="../room/index86bb.html?layout=gallery"><span
                                                        class="qodef-menu-item-text">Gallery List</span></a>
                                            </li>
                                            <li id="menu-item-10572"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10572">
                                                <a href="../room/indexfb4c.html?layout=simple"><span
                                                        class="qodef-menu-item-text">Simple List</span></a></li>
                                            <li id="menu-item-10573"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10573">
                                                <a
                                                    href="../room/indexca15.html?layout=boxed&amp;columns=1&amp;excerpt_length=150"><span
                                                        class="qodef-menu-item-text">Boxed List</span></a></li>
                                            <li id="menu-item-10574"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10574">
                                                <a href="../rooms/gallery-standard/index.html"><span
                                                        class="qodef-menu-item-text">Gallery Standard</span></a>
                                            </li>
                                            <li id="menu-item-10575"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10575">
                                                <a href="../rooms/gallery-extended/index.html"><span
                                                        class="qodef-menu-item-text">Gallery Extended</span></a>
                                            </li>
                                            <li id="menu-item-10576"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10576">
                                                <a href="../rooms/wide-list/index.html"><span
                                                        class="qodef-menu-item-text">Wide List</span></a></li>
                                            <li id="menu-item-10579"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10579">
                                                <a href="../rooms/room-slider/index.html"><span
                                                        class="qodef-menu-item-text">Room Slider</span></a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-10558"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10558 qodef--hide-link">
                                        <a href="#" onclick="JavaScript: return false;"><span
                                                class="qodef-menu-item-text">List Layouts<svg
                                                    class="qodef-svg--menu-arrow qodef-menu-item-arrow"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="32"
                                                    height="32" viewBox="0 0 32 32">
                                                    <path
                                                        d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
                                                    </path>
                                                </svg></span></a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-10565"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10565">
                                                <a href="../room/index8486.html?layout=standard&amp;columns=1"><span
                                                        class="qodef-menu-item-text">Standard One
                                                        Column</span></a></li>
                                            <li id="menu-item-10566"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10566">
                                                <a
                                                    href="../room/index7808.html?layout=standard-centered&amp;columns=1"><span
                                                        class="qodef-menu-item-text">Centered One
                                                        Column</span></a></li>
                                            <li id="menu-item-10567"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10567">
                                                <a href="../room/index9666.html?layout=gallery&amp;columns=1"><span
                                                        class="qodef-menu-item-text">Gallery One
                                                        Column</span></a></li>
                                            <li id="menu-item-10568"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10568">
                                                <a href="../room/index3f8f.html?layout=simple&amp;columns=1"><span
                                                        class="qodef-menu-item-text">Simple One
                                                        Column</span></a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-10559"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10559 qodef--hide-link">
                                        <a href="#" onclick="JavaScript: return false;"><span
                                                class="qodef-menu-item-text">Single Room<svg
                                                    class="qodef-svg--menu-arrow qodef-menu-item-arrow"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="32"
                                                    height="32" viewBox="0 0 32 32">
                                                    <path
                                                        d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
                                                    </path>
                                                </svg></span></a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-10563"
                                                class="menu-item menu-item-type-post_type menu-item-object-room menu-item-10563">
                                                <a href="../room/superior-suite/index.html"><span
                                                        class="qodef-menu-item-text">Standard Single</span></a>
                                            </li>
                                            <li id="menu-item-10564"
                                                class="menu-item menu-item-type-post_type menu-item-object-room menu-item-10564">
                                                <a href="../room/deluxe-room/index.html"><span
                                                        class="qodef-menu-item-text">Gallery Single</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-10562"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10562">
                                        <a href="../my-account/index.html"><span class="qodef-menu-item-text">My
                                                Account</span></a></li>
                                    <li id="menu-item-10560"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10560">
                                        <a href="../cart/index.html"><span
                                                class="qodef-menu-item-text">Cart</span></a></li>
                                    <li id="menu-item-10561"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10561">
                                        <a href="../checkout/index.html"><span
                                                class="qodef-menu-item-text">Checkout</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li id="menu-item-9847"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9847"><a
                            href="../landing/index.html"><span class="qodef-menu-item-text">Landing</span></a>
                    </li>
                </ul>
            </nav>
            <div>
                <div class="qodef-widget-holder qodef--one">
                </div>
            </div>
        </div>
    </div>
    <form action="https://carsten.qodeinteractive.com/" class="qodef-search-cover-form" method="get">
        <div class="qodef-m-inner">
            <input type="text" placeholder="Search" name="s" class="qodef-m-form-field" autocomplete="off"
                required />
            <button type="submit"
                class="qodef-opener-icon qodef-m qodef-source--predefined qodef-m-form-submit">
                <svg class="qodef-svg--search-opener" xmlns="http://www.w3.org/2000/svg" width="16.207"
                    height="16.207" viewBox="0 0 16.207 16.207">
                    <g fill="none" stroke="currentColor" stroke-miterlimit="10">
                        <path d="M6.636.5a6.136 6.136 0 1 0 6.136 6.136A6.136 6.136 0 0 0 6.636.5Z" />
                        <path stroke-linecap="round" d="M11.214 11.214 15.5 15.5" />
                    </g>
                </svg></button>
        </div>
        <a href="javascript:void(0)" class="qodef-opener-icon qodef-m qodef-source--predefined qodef-m-close">
            <span class="qodef-m-icon ">
                <svg class="qodef-svg--close-search" xmlns="http://www.w3.org/2000/svg" width="23.414"
                    height="23.414" viewBox="0 0 23.414 23.414">
                    <g fill="none" stroke="currentColor" stroke-linecap="round">
                        <path d="m.707.707 22 22" />
                        <path d="m22.707.707-22 22" />
                    </g>
                    </svg>
                </span>
        </a>
    </form>
</header>