<footer id="qodef-page-footer" role="contentinfo">
    <div id="qodef-page-footer-top-area">
        <div id="qodef-page-footer-top-area-inner" class="qodef-content-full-width">
            <div>
                <div class="qodef-grid-inner">
                    <div class="row" style="display: flex !important;
                    justify-content: space-between !important;">
                        <div class="col-lg-4" style="width: 330px;">
                            <div _ngcontent-ng-c1110190130="" data-id="f71d74b" data-element_type="container"
                                class="elementor-element elementor-element-f71d74b e-con-full e-flex e-con e-child">
                                <div _ngcontent-ng-c1110190130="" data-id="ee374f5" data-element_type="container"
                                    class="elementor-element elementor-element-ee374f5 e-con-full e-flex e-con e-child">
                                    <div _ngcontent-ng-c1110190130="" data-id="9129dc1" data-element_type="widget"
                                        data-widget_type="carsten_core_section_title.default"
                                        class="elementor-element elementor-element-9129dc1 elementor-widget__width-initial elementor-widget elementor-widget-carsten_core_section_title">
                                        <div _ngcontent-ng-c1110190130="" class="elementor-widget-container">
                                            <div _ngcontent-ng-c1110190130=""
                                                class="qodef-shortcode qodef-m qodef-section-title qodef-alignment--left">
                                                <h2 _ngcontent-ng-c1110190130="" class="qodef-m-title"
                                                    style="text-transform: uppercase;"> Address </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div _ngcontent-ng-c1110190130="" data-id="46ee09b" data-element_type="container"
                                    class="elementor-element elementor-element-46ee09b e-con-full e-flex e-con e-child">
                                    <div _ngcontent-ng-c1110190130="" data-id="f7be924" data-element_type="widget"
                                        data-widget_type="carsten_core_custom_font.default"
                                        class="elementor-element elementor-element-f7be924 elementor-widget__width-auto elementor-widget elementor-widget-carsten_core_custom_font">
                                        <div _ngcontent-ng-c1110190130="" class="elementor-widget-container">
                                            <h5 _ngcontent-ng-c1110190130=""
                                                class="qodef-shortcode qodef-m qodef-custom-font qodef-custom-font-965 qodef-layout--simple qodef-align--left">
                                                Feel free to contact us on</h5>
                                        </div>
                                    </div>
                                    <div _ngcontent-ng-c1110190130="" data-id="35dfb0f" data-element_type="widget"
                                        data-widget_type="carsten_core_custom_font.default"
                                        class="elementor-element elementor-element-35dfb0f elementor-widget__width-auto qode--has-custom-underline elementor-widget elementor-widget-carsten_core_custom_font">
                                        <div _ngcontent-ng-c1110190130="" class="elementor-widget-container">
                                            <h5 _ngcontent-ng-c1110190130=""
                                                class="qodef-shortcode qodef-m qodef-custom-font qodef-custom-font-660 qodef-layout--simple qodef-align--left">
                                                <a _ngcontent-ng-c1110190130="" href="mailto:carsten@example.com"></a>
                                            </h5>
                                        </div>
                                    </div>
                                    <div _ngcontent-ng-c1110190130="" data-id="53313ed" data-element_type="widget"
                                        data-widget_type="text-editor.default"
                                        class="elementor-element elementor-element-53313ed elementor-widget__width-inherit elementor-widget elementor-widget-text-editor">
                                        <div _ngcontent-ng-c1110190130="" class="elementor-widget-container">
                                            <p _ngcontent-ng-c1110190130="">Mazim modo at vel invasor mus animi nisi si
                                                dis populi id dui spiral. Ipsa hosticum respectum exaudire a exilium
                                                sequela, fusce diam est netus.</p>
                                        </div>
                                    </div>
                                </div>
                             
                            
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="qodef-grid-item">
                                <div class="qodef-shortcode qodef-m  qodef-single-image qodef-layout--default  qodef--retina "
                                    style="padding-top: 100px;">
                                    <div class="qodef-m-image"> <a itemprop="url" href="../index.html" target="_self">
                                            <div class="qodef-m-image-inner-holder">
                                                <div class="qodef-m-image-inner"> <img itemprop="image"
                                                        src="../../../assets/wp-content/uploads/2024/home/nexstay1.jpg"
                                                        width="250" height="100" alt /> </div>
                                            </div>
                                        </a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4" style="width: 300px;">
                            <div _ngcontent-ng-c1110190130="" data-id="ee14e25" data-element_type="container"
                            class="elementor-element elementor-element-ee14e25 e-con-full e-flex e-con e-child">
                            <div _ngcontent-ng-c1110190130="" data-id="09351e6" data-element_type="widget"
                                data-widget_type="carsten_core_custom_font.default"
                                class="elementor-element elementor-element-09351e6 elementor-widget__width-auto elementor-widget elementor-widget-carsten_core_custom_font">
                                <div _ngcontent-ng-c1110190130="" class="elementor-widget-container">
                                    <h5 _ngcontent-ng-c1110190130=""
                                        class="qodef-shortcode qodef-m qodef-custom-font qodef-custom-font-617 qodef-layout--simple qodef-align--left">
                                        Call us</h5>
                                </div>
                            </div>
                            <div _ngcontent-ng-c1110190130="" data-id="008e11c" data-element_type="widget"
                                data-widget_type="carsten_core_custom_font.default"
                                class="elementor-element elementor-element-008e11c elementor-widget__width-auto qode--has-custom-underline elementor-widget elementor-widget-carsten_core_custom_font">
                                <div _ngcontent-ng-c1110190130="" class="elementor-widget-container">
                                    <h5 _ngcontent-ng-c1110190130=""
                                        class="qodef-shortcode qodef-m qodef-custom-font qodef-custom-font-671 qodef-layout--simple qodef-align--left">
                                        <a _ngcontent-ng-c1110190130="" href="tel:+919313081434">+91
                                            9313081434</a></h5>
                                </div>
                                <div style="display: flex;
                                
                                align-items: center;
                                flex-wrap: wrap;margin-top: 10px;">
                                    <div style="margin-right: 2px;"> 
                                        <a target="_blank" href="https://www.instagram.com/_prince_2310/"><img style="width: 50px;" src="../../../assets/wp-content/uploads/2024/home/insta-og.png" alt="">
                                        </a>
                                    </div>
                                    <div style="margin-right: 5px;">
                                        <a target="_blank" href="https://www.facebook.com/people/Prince-Patel/pfbid028qm2F7hHkUdqbovcBYMXdsUhywnW3vZaYBNNaYFjajBP87ijvC7P4PT3EjMfgvz9l/?mibextid=dGKdO6&rdid=H723WQYxDWIVeq9T&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2Fm7JNkXzJtdWGNPTD%2F%3Fmibextid%3DdGKdO6"><img style="width: 35px;" src="../../../assets/wp-content/uploads/2024/home/facebbok.png" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a target="_blank" href="https://www.linkedin.com/in/prince-patel-886754283/"><img style="width: 40px;" src="../../../assets/wp-content/uploads/2024/home/linkedin.png" alt="">
                                        </a>
                                    </div>
                                </div>
                               
                            </div>
                            <div _ngcontent-ng-c1110190130="" data-id="ed2fa7c" data-element_type="widget"
                                data-widget_type="text-editor.default"
                                class="elementor-element elementor-element-ed2fa7c elementor-widget__width-inherit elementor-widget elementor-widget-text-editor">
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- <div class="qodef-grid-item">
                        <div id="nav_menu-5" class="widget widget_nav_menu"
                            data-area="qodef-footer-top-area-column-3">
                            <h5 class="qodef-widget-title">Experience</h5>
                            <div class="menu-footer-column-3-container">
                                <ul id="menu-footer-column-3" class="menu">
                                    <li id="menu-item-924"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-924">
                                        <a href="#">Local Activities</a></li>
                                    <li id="menu-item-925"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-925">
                                        <a href="#">Offers &#038; Promotions</a></li>
                                    <li id="menu-item-926"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-926">
                                        <a href="#">Restaurant Menu</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->


                </div>
            </div>
        </div>
    </div>
    <div id="qodef-page-footer-bottom-area">
        <div id="qodef-page-footer-bottom-area-inner" class="qodef-content-full-width">
            <div
                class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--2 qodef-col-num--1024--2 qodef-col-num--880--1 qodef-col-num--680--1">
                <div class="qodef-grid-inner">
                    <div class="qodef-grid-item">
                        <div id="block-16" class="widget widget_block" data-area="qodef-footer-bottom-area-column-1">
                            <div
                                class="wp-block-qi-blocks-advanced-text qodef-block-container qodef-widget-block-04530b22 qode--has-custom-underline">
                                <div class="qi-block-advanced-text qodef-block qodef-m">
                                    <p>© 2024&nbsp;<a href="https://qodeinteractive.com/" target="_blank"
                                            rel="noreferrer noopener">Qode Interactive</a>, All Rights Reserved
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="qodef-grid-item">
                        <div id="block-25" class="widget widget_block" data-area="qodef-footer-bottom-area-column-2">
                            <div
                                class="wp-block-group qodef-footer-inline-holder is-content-justification-right is-layout-flex wp-container-core-group-is-layout-3 wp-block-group-is-layout-flex">
                                <div
                                    class="wp-block-group is-nowrap is-layout-flex wp-container-core-group-is-layout-1 wp-block-group-is-layout-flex">
                                    <div class="widget widget_carsten_core_single_image">
                                        <div
                                            class="qodef-shortcode qodef-m  qodef-single-image qodef-layout--default  qodef--retina ">
                                            <div class="qodef-m-image">
                                                <div class="qodef-m-image-inner-holder">
                                                    <div class="qodef-m-image-inner"> <img loading="lazy"
                                                            decoding="async" itemprop="image"
                                                            src="../../../assets/wp-content/uploads/2024/02/footer-icons-dark-new.png"
                                                            width="172" height="24" alt /> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wp-block-group">
                                    <div
                                        class="wp-block-group__inner-container is-layout-constrained wp-block-group-is-layout-constrained">
                                        <div
                                            class="wp-block-qi-blocks-advanced-text qodef-block-container qodef-widget-block-b52601aa qode--has-custom-underline qodef-width--inline">
                                            <div
                                                class="qi-block-advanced-text qodef-block qodef-m qodef-text-break--disabled">
                                                <p><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>