<div id="qodef-page-outer">
    <div id="qodef-page-inner" class="qodef-content-full-width">
        <main id="qodef-page-content" class="qodef-grid qodef-layout--template qodef-grid-template--12 " role="main">
            <div class="qodef-grid-inner">
                <div class="qodef-grid-item qodef-page-content-section qodef-col--content">
                    <div data-elementor-type="wp-page" data-elementor-id="7687" class="elementor elementor-7687">
                        <div class="elementor-element elementor-element-6a8ec61 e-con-full e-flex e-con e-parent"
                            data-id="6a8ec61" data-element_type="container"
                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        </div>
                        <div class="elementor-element elementor-element-8deddde e-con-full e-flex e-con e-parent"
                            data-id="8deddde" data-element_type="container">
                            <div class="elementor-element elementor-element-863318a e-con-full qodef-elementor-content-grid e-flex e-con e-child"
                                data-id="863318a" data-element_type="container">
                                <div class="elementor-element elementor-element-c9c8699 elementor-widget__width-initial elementor-widget elementor-widget-carsten_core_section_title"
                                    data-id="c9c8699" data-element_type="widget"
                                    data-widget_type="carsten_core_section_title.default">
                                    <div class="elementor-widget-container">
                                        <div
                                            class="qodef-shortcode qodef-m  qodef-section-title qodef-alignment--center ">
                                            <h2 class="qodef-m-title" style="text-transform: uppercase">
                                                Best Offers &amp; Promotions </h2>
                                            <p class="qodef-m-subtitle" style="margin-top: 12px">Renasci ipsam unde id
                                                est natoque sed zzril ullo in dis saluis si est turpis. Fuga commenti
                                                malesuada praesent m inibunt dapibus, mirum sunt dui mazim sequi. Sem
                                                veneta haeredissa te salubre morbi quod mi ex iugulatur cum placida
                                                ultima rerum. Adamantina ullam at quam eum facilius. Accessus ipsam typi
                                                ut leones mi iste.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-3720170 e-con-full qodef-elementor-content-grid e-flex e-con e-child"
                                data-id="3720170" data-element_type="container">
                                <div class="elementor-element elementor-element-2f0929f elementor-widget__width-initial elementor-widget elementor-widget-carsten_core_section_title"
                                    data-id="2f0929f" data-element_type="widget"
                                    data-widget_type="carsten_core_section_title.default">
                                    <div class="elementor-widget-container">
                                        <div
                                            class="qodef-shortcode qodef-m  qodef-section-title qodef-alignment--center ">
                                            <h5 class="qodef-m-title" style="color: #989DAF">
                                                Contact Front Desk: </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-821996b qode--has-custom-underline elementor-widget elementor-widget-text-editor"
                                    data-id="821996b" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <style>
                                            /*! elementor - v3.21.0 - 26-05-2024 */
                                            .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                                background-color: #69727d;
                                                color: #fff
                                            }

                                            .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                                color: #69727d;
                                                border: 3px solid;
                                                background-color: transparent
                                            }

                                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                                margin-top: 8px
                                            }

                                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                                width: 1em;
                                                height: 1em
                                            }

                                            .elementor-widget-text-editor .elementor-drop-cap {
                                                float: left;
                                                text-align: center;
                                                line-height: 1;
                                                font-size: 50px
                                            }

                                            .elementor-widget-text-editor .elementor-drop-cap-letter {
                                                display: inline-block
                                            }
                                        </style>
                                        <p style="text-align: center;"><a href="tel:+919313081434">+91 9313081434</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-e6abf9e e-con-full e-flex e-con e-parent"
                            data-id="e6abf9e" data-element_type="container" style="display: flex;flex-direction: row;">
                            <div class="elementor-element elementor-element-30c4229 e-con-full e-flex e-con e-child"
                                data-id="30c4229" data-element_type="container">
                                <div class="elementor-element elementor-element-9743599 elementor-widget elementor-widget-carsten_core_banner"
                                    data-id="9743599" data-element_type="widget"
                                    data-widget_type="carsten_core_banner.default">
                                    <div class="elementor-widget-container">
                                        <div class="qodef-shortcode qodef-m  qodef-banner qodef-layout--centered">
                                            <div class="qodef-m-image" style="width: 750px;">
                                                <img fetchpriority="high" decoding="async" width="1280" height="820"
                                                    src="../../../assets/wp-content/uploads/2024/02/offers-banner-img1.jpg"
                                                    class="attachment-full size-full" alt="d"
                                                    srcset="../../../assets/wp-content/uploads/2024/02/offers-banner-img1.jpg 1280w, ../../../assets/wp-content/uploads/2024/02/offers-banner-img1-300x192.jpg 300w, ../../../assets/wp-content/uploads/2024/02/offers-banner-img1-1024x656.jpg 1024w, ../../../assets/wp-content/uploads/2024/02/offers-banner-img1-768x492.jpg 768w, ../../../assets/wp-content/uploads/2024/02/offers-banner-img1-600x384.jpg 600w"
                                                    sizes="(max-width: 1280px) 100vw, 1280px">
                                            </div>
                                            <div class="qodef-m-content">
                                                <div class="qodef-m-content-inner">
                                                    <h4 class="qodef-m-title">
                                                        Wellness Escape &amp; Pool </h4>
                                                </div>
                                            </div>
                                            <a itemprop="url" href="#" class="qodef-m-banner-link" target="_self"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-03531fa e-con-full e-flex e-con e-child"
                                data-id="03531fa" data-element_type="container">
                                <div class="elementor-element elementor-element-265fa86 elementor-widget elementor-widget-carsten_core_banner"
                                    data-id="265fa86" data-element_type="widget"
                                    data-widget_type="carsten_core_banner.default">
                                    <div class="elementor-widget-container">
                                        <div class="qodef-shortcode qodef-m  qodef-banner qodef-layout--centered">
                                            <div class="qodef-m-image" style="width: 750px;">
                                                <img decoding="async" width="1280" height="820"
                                                    src="../../../assets/wp-content/uploads/2024/02/offers-banner-img2.jpg"
                                                    class="attachment-full size-full" alt="v"
                                                    srcset="../../../assets/wp-content/uploads/2024/02/offers-banner-img2.jpg 1280w, ../../../assets/wp-content/uploads/2024/02/offers-banner-img2-300x192.jpg 300w, ../../../assets/wp-content/uploads/2024/02/offers-banner-img2-1024x656.jpg 1024w, ../../../assets/wp-content/uploads/2024/02/offers-banner-img2-768x492.jpg 768w, ../../../assets/wp-content/uploads/2024/02/offers-banner-img2-600x384.jpg 600w"
                                                    sizes="(max-width: 1280px) 100vw, 1280px">
                                            </div>
                                            <div class="qodef-m-content">
                                                <div class="qodef-m-content-inner">
                                                    <h4 class="qodef-m-title">
                                                        Spa &amp; Wellness </h4>
                                                </div>
                                            </div>
                                            <a itemprop="url" href="#" class="qodef-m-banner-link" target="_self"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-36586ec e-con-full e-flex e-con e-parent"
                            data-id="36586ec" data-element_type="container" style="display: flex;flex-direction: row;">
                            <div class="elementor-element elementor-element-f6eae5a e-con-full e-flex e-con e-child"
                                data-id="f6eae5a" data-element_type="container">
                                <div class="elementor-element elementor-element-4928851 elementor-widget elementor-widget-carsten_core_banner"
                                    data-id="4928851" data-element_type="widget"
                                    data-widget_type="carsten_core_banner.default">
                                    <div class="elementor-widget-container">
                                        <div class="qodef-shortcode qodef-m  qodef-banner qodef-layout--centered">
                                            <div class="qodef-m-image" style="width: 750px;">
                                                <img decoding="async" width="1280" height="820"
                                                    src="../../../assets/wp-content/uploads/2024/02/offers-banner-img3.jpg"
                                                    class="attachment-full size-full" alt="d"
                                                    srcset="../../../assets/wp-content/uploads/2024/02/offers-banner-img3.jpg 1280w, ../../../assets/wp-content/uploads/2024/02/offers-banner-img3-300x192.jpg 300w, ../../../assets/wp-content/uploads/2024/02/offers-banner-img3-1024x656.jpg 1024w, ../../../assets/wp-content/uploads/2024/02/offers-banner-img3-768x492.jpg 768w, ../../../assets/wp-content/uploads/2024/02/offers-banner-img3-600x384.jpg 600w"
                                                    sizes="(max-width: 1280px) 100vw, 1280px">
                                            </div>
                                            <div class="qodef-m-content">
                                                <div class="qodef-m-content-inner">
                                                    <h4 class="qodef-m-title">
                                                        Mindful Yoga Escape </h4>
                                                </div>
                                            </div>
                                            <a itemprop="url" href="#" class="qodef-m-banner-link" target="_self"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-33436d1 e-con-full e-flex e-con e-child"
                                data-id="33436d1" data-element_type="container">
                                <div class="elementor-element elementor-element-7746881 elementor-widget elementor-widget-carsten_core_banner"
                                    data-id="7746881" data-element_type="widget"
                                    data-widget_type="carsten_core_banner.default">
                                    <div class="elementor-widget-container">
                                        <div class="qodef-shortcode qodef-m  qodef-banner qodef-layout--centered">
                                            <div class="qodef-m-image" style="width: 750px;">
                                                <img loading="lazy" decoding="async" width="1280" height="820"
                                                    src="../../../assets/wp-content/uploads/2024/03/offers-banner-img4new.jpg"
                                                    class="attachment-full size-full" alt="d"
                                                    srcset="../../../assets/wp-content/uploads/2024/03/offers-banner-img4new.jpg 1280w, ../../../assets/wp-content/uploads/2024/03/offers-banner-img4new-300x192.jpg 300w, ../../../assets/wp-content/uploads/2024/03/offers-banner-img4new-1024x656.jpg 1024w, ../../../assets/wp-content/uploads/2024/03/offers-banner-img4new-768x492.jpg 768w, ../../../assets/wp-content/uploads/2024/03/offers-banner-img4new-600x384.jpg 600w"
                                                    sizes="(max-width: 1280px) 100vw, 1280px">
                                            </div>
                                            <div class="qodef-m-content">
                                                <div class="qodef-m-content-inner">
                                                    <h4 class="qodef-m-title">
                                                        Journey Through Nature </h4>
                                                </div>
                                            </div>
                                            <a itemprop="url" href="#" class="qodef-m-banner-link" target="_self"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                        
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>